* {
    padding: 0;
    margin: 0;
}

/* navigation */
.droid {
    color: #b9d00f;
    font-style: italic;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    margin: 20px;
    top: 5px;
    width: 100%;
    z-index: 32;
}

ul li {
    list-style: none;
    display: inline-flex;
}

li a {
    text-decoration: none;
    color: #f7f5f5;
    transition: all 0.3s ease-in;
    margin: 0 5px;
}

li a:hover {
    font-weight: 500;
    border-bottom: solid 3px #b9d00f;
}

.search {
    border: solid 1px #fbfafa;
    padding: 5px 10px;
    border-radius: 17px;
    background-color: #cae8e86b;
    backdrop-filter: blur(2px);
    color: white;
}

.search input {
    border: none;
    outline: none;
    background: transparent;
}

::placeholder {
    color: aliceblue;
}

.logo {
    color: aliceblue;
}


/* body */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}


.home {
    background: url('pexels-azamat-esenaliev-119550.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    text-align: center;
}
.trans{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1f1e53;
    backdrop-filter: blur(2px);

}

.home h1 {
    font-size: 34px;
}

.txt{
    color: #b9d00f;
    margin-top: 10px;
}
.about{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7rem 10px;
    text-align: center;
}
.duck{
    height: 200px;
}
.txt-area{
    width: 40%;
}

/* mobile view */

@media only screen and (max-width:420px){
    nav{
        display: none;
    }
    header{
        justify-content: space-between;
        padding: 2px;
        top: 5px;
        width: fit-content;
    }
    .home{
        height: 65%;
    }
    .about{
        flex-direction: column;
        height: 85dvh;
        padding: 15px;


    }
    .txt-area{
        width: 75%;
    }
}